# Local .terraform directories
aws-tf/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Crash log files
crash.log
crash.*.log

# Terraform Dependency Lock File
.terraform.lock.hcl

# Ignore any .tfvars files that are generated automatically for each Terraform run.
# Most .tfvars files are managed as part of configuration and so should be included in
# version control.
# If you are using tfvars files that contain sensitive information, you should *definitely* add them to .gitignore.
# Example: sensitive.tfvars

# Override files (used for local modifications, not typically committed)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# You might want to ignore environment-specific files if they contain sensitive data or local settings
# Example: .envrc

# Saved plan files (if using the -out flag with terraform plan)
# Example: *tfplan*
